.venv
**/.venv
__pycache__
**/__pycache__
.pytest_cache
.git
.git/**
.gitignore
mlruns
mlruns/**
.dvc/cache
.dvc/cache/**
.dvc/tmp
.dvc/tmp/**
data/raw
data/raw/**
data/processed
data/processed/**
.vscode
.idea
.DS_Store
Thumbs.db
.env
.env.*
*.tmp
*.temp
*.swp
*.log
~$*